<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nafila du jour
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nafila du jour</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
     <ion-item *ngFor="let nafila of nafilas">
      <ion-item-option (click)="presentAlert(this.nafila)">
              <ion-label>
                {{nafila.nuit}}
                
              </ion-label>
            </ion-item-option>
      
     </ion-item>
  </ion-card>

</ion-content>
